.client-maindiv{
     background: #f0f0f0;
     width: 100%;
     padding-bottom: 4em;
     .client-header{
         padding: 3em 0;
         text-align: center;
         color: #545454;
     }
     .client-container{
         @include grid(repeat(5,1fr),10px);
         justify-items: center;
         padding: 0 10%;
         .client-image{
            margin-top: 2em;
         }
     }
}
@media screen and (max-width:992px) {
    .client-maindiv{
        .client-container{
            @include grid(repeat(3,1fr),10px);
        }
    }
}
@media screen and (max-width:640px) {
    .client-maindiv{
        .client-container{
            @include grid(repeat(1,1fr),0);
        }
    }
}